@import "./demo.css";

.slidev-layout.default {
  @apply m-2;
}

:root {
  --slidev-theme-primary: #63abe1;
  --slidev-code-font-size: 16px;
  --slidev-code-line-height: 22px;
}

.slidev-layout.code-sm {
  --slidev-code-font-size: 12px;
  --slidev-code-line-height: 20px;
}

.slidev-layout a {
  @apply border-none;
}

.text-primary {
  color: var(--slidev-theme-primary) !important;
}

.mdn-logo {
  align-items: center;
  display: flex;
  width: 160px;
}
.mdn-logo svg {
  height: 1.5rem;
  margin-top: 0.3rem;
}
.mdn-logo .logo-m,
.mdn-logo .logo-_ {
  fill: var(--text-link);
}
.mdn-logo .logo-text {
  fill: var(--text-primary);
}

.slidev-layout kbd {
  @apply inline-block w-6 h-6 text-center text-2xl font-bold;
}


/* transitions by @antfu */
.slidev-vclick-target {
  transition:
    opacity 500ms ease,
    filter 200ms ease,
    color 300ms ease;
}

.slidev-vclick-hidden {
  opacity: 0;
  pointer-events: none;
  filter: blur(3px);
}

.fade-out-leave-active {
  transition:
    opacity calc(var(--slidev-transition-duration) * 0.6) ease-out,
    filter 200ms ease;
}

.fade-out-enter-active {
  transition:
    opacity calc(var(--slidev-transition-duration) * 0.8) ease-in,
    filter 200ms ease;
  transition-delay: calc(var(--slidev-transition-duration) * 0.6);
}

.fade-out-enter-from,
.fade-out-leave-to {
  opacity: 0;
  filter: blur(5px);
}

.slidev-code .line {
  transition: opacity 200ms ease;
}
